<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission</title>
    <!-- Add your CSS styles or include Bootstrap styles here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        th, tr{
            text-align: center;
        }
    </style>
</head>

<body style="height: 100vh;">
    <header class="bg-body-secondary pt-2" style="height: 9%;">
        <h1 class="text-center h-100 fw-bold">Document Verification Using ML</>
    </header>
    <div class="container-fluid h-100 d-flex align-items-center justify-content-around flex-wrap w-100">
        <div class="d-flex flex-column align-items-center border border-primary rounded shadow-lg p-5 bg-body-tertiary overflow-auto"
            style="margin: 0 2%; min-width: 40%; height: 80%;">
            <h1>Form Submission</h1>

            <form class="w-100" id="myForm">
                <!-- Your existing form inputs -->
                <div class="form-floating mb-3 row align-items-center">
                    <input type="text" class="form-control" id="inputName" placeholder="John Doe" name="name">
                    <label for="inputName">Name</label>
                </div>

                <div class="form-floating mb-3 row align-items-center">
                    <input type="date" class="form-control" id="inputDob" placeholder="01/01/1990" name="dob">
                    <label for="inputDob">Date of Birth</label>
                </div>

                <div class="form-floating mb-3 row align-items-center">
                    <input type="number" class="form-control" id="inputAge" placeholder="30" name="age">
                    <label for="inputAge">Age</label>
                </div>

                <div class="form-floating mb-3 row align-items-center">
                    <input type="number" class="form-control" id="inputAadhar" placeholder="1234 5678 9012"
                        name="aadhar">
                    <label for="inputAadhar">Aadhar Number</label>
                </div>

                <div class="mb-3 row align-items-center">
                    <input type="file" class="form-control" id="fileInput">
                </div>

                <div>
                    <button type="button" class="btn btn-primary w-100" onclick="submitForm()">Submit</button>
                </div>
            </form>
        </div>
        <div id="resultContainer"
            class="my-5 d-flex flex-column justify-content-center align-items-center shadow-lg rounded overflow-auto"
            style="margin: 0 2%; min-width: 40%; height: 80%;">
            <h1 class="mb-3">Predicted Features</h1>
            <div id="spinner" class="d-flex justify-content-center d-none">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <!-- Results will be displayed here -->
            <img class="rounded" src="" alt="" id="resultImage">
        </div>
        <div class="table-responsive w-75 rounded">
            <table class="table table-striped table-hover table-borderless table-primary align-middle">
                <thead class="table-light">
                    <caption>
                        
                    </caption>
                    <tr>
                        <th>Feature</th>
                        <th>Image</th>
                        <th>detected(✔️|❌)</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider"></tbody>
            </table>
        </div>

    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>

    <!-- <script>
    function submitForm() {
        // Serialize form data
        var formData = new FormData(document.getElementById('myForm'));

        // Make an AJAX request to submit the form data
        fetch('/submit', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Update the resultContainer with the received data
            var resultContainer = document.getElementById('resultContainer');
            resultContainer.innerHTML = `
                <h2>Results</h2>
                <p>Name: ${data.name}</p>
                <p>Date of Birth: ${data.dob}</p>
                <p>Age: ${data.age}</p>
                <p>Aadhar Number: ${data.aadhar}</p>
                <p>Roboflow Result: ${data.roboflow_result.result}</p>
            `;
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle errors if needed
        });
    }
</script> -->

</body>

</html>